In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("seattle-weather.csv")

In [4]:
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [5]:
df.isna().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [6]:
X= df.drop(columns= ['date', 'weather'])
y= df['weather']

In [7]:
X

      precipitation  temp_max  temp_min  wind
0               0.0      12.8       5.0   4.7
1              10.9      10.6       2.8   4.5
2               0.8      11.7       7.2   2.3
3              20.3      12.2       5.6   4.7
4               1.3       8.9       2.8   6.1
...             ...       ...       ...   ...
1456            8.6       4.4       1.7   2.9
1457            1.5       5.0       1.7   1.3
1458            0.0       7.2       0.6   2.6
1459            0.0       5.6      -1.0   3.4
1460            0.0       5.6      -2.1   3.5

[1461 rows x 4 columns]

In [8]:
y

0       drizzle
1          rain
2          rain
3          rain
4          rain
         ...
1456       rain
1457       rain
1458        fog
1459        sun
1460        sun
Name: weather, Length: 1461, dtype: object

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=45)

In [12]:
X_train

      precipitation  temp_max  temp_min  wind
417             0.5       6.7       3.9   6.2
363             1.5       5.0       3.3   1.7
1429            0.5       5.6      -3.8   1.7
746             0.0       6.7       4.4   2.7
817            22.1      11.7       7.2   3.9
...             ...       ...       ...   ...
580             0.0      25.0      15.6   2.4
163             0.8      18.3      12.8   3.9
607             0.0      26.1      16.1   2.9
414             0.0       7.8       3.9   1.9
971             0.0      22.8      15.0   3.4

[1022 rows x 4 columns]

In [13]:
y_train

417     rain
363     rain
1429    rain
746      sun
817     rain
        ...
580      fog
163     rain
607      sun
414     rain
971      sun
Name: weather, Length: 1022, dtype: object

In [14]:
y_test

285     rain
1199    rain
343     rain
403     rain
731      sun
        ...
1115     fog
172      sun
394     rain
1142     fog
202      sun
Name: weather, Length: 439, dtype: object

In [15]:
X_test

      precipitation  temp_max  temp_min  wind
285             2.0      13.9       8.9   4.6
1199            3.3      11.7       2.8   3.3
343             1.5       6.7       2.8   2.1
403             1.3       9.4       3.3   4.1
731             0.0       7.2       3.3   1.2
...             ...       ...       ...   ...
1115            0.0      10.0       3.3   3.0
172             0.0      23.9      11.7   2.1
394             4.3       8.3       5.0   3.9
1142            0.0      15.0       5.6   6.6
202             0.0      23.9      13.9   2.3

[439 rows x 4 columns]

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
model = LogisticRegression()

In [18]:
model.fit(X_train, y_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [19]:
predictions = model.predict(X_test)

In [20]:
predictions

array(['rain', 'rain', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun',
       'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'rain',
       'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain',
       'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun', 'sun',
       'rain', 'sun', 'sun', 'rain', 'snow', 'sun', 'rain', 'sun', 'sun',
       'rain', 'sun', 'sun', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun',
       'rain', 'rain', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun',
       'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain',
       'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain',
       'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain',
       'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'rain',
       'rain', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun',
       'rain', 'rain', 'rain', 'rain', 'rain', 'rain', 'sun', 'rain',
       'rain', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun',
       'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun',
       'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain',
       'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun',
       'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun',
       'sun', 'rain', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'rain',
       'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun',
       'sun', 'sun', 'rain', 'rain', 'rain', 'rain', 'sun', 'rain', 'sun',
       'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun',
       'rain', 'rain', 'rain', 'sun', 'sun', 'rain', 'rain', 'rain',
       'sun', 'rain', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'rain',
       'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'snow',
       'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun',
       'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain',
       'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain',
       'rain', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain',
       'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun',
       'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun',
       'sun', 'sun', 'snow', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun',
       'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'rain',
       'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun',
       'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain',
       'rain', 'rain', 'rain', 'rain', 'rain', 'sun', 'rain', 'rain',
       'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun',
       'sun', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun',
       'snow', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain',
       'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun',
       'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun',
       'sun', 'sun', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'rain',
       'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun',
       'sun', 'rain', 'sun', 'sun'], dtype=object)

In [21]:
from sklearn.metrics import classification_report

In [22]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

     drizzle       0.00      0.00      0.00        15
         fog       0.00      0.00      0.00        41
        rain       0.97      0.93      0.95       193
        snow       0.50      0.25      0.33         8
         sun       0.72      0.99      0.84       182

    accuracy                           0.82       439
   macro avg       0.44      0.43      0.42       439
weighted avg       0.73      0.82      0.77       439

C:\Users\HP\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\HP\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\HP\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [24]:
test_weather ={
    'precipitation': 10 ,
    'temp_max' :20,
    'temp_min' :10,
    'wind':5.4
}

test_df = pd.DataFrame([test_weather])
test_df

   precipitation  temp_max  temp_min  wind
0             10        20        10   5.4

In [25]:
model.predict(test_df)

array(['rain'], dtype=object)